<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<body>

    <div th:fragment="hdr">
          <div id="nav">
            <a href="products">Products</a>
            <a href="categories">Categories</a>
            <a href="events">Events</a>
            <a href="attributes">Attributes</a>
            <a id="save-all" href="#">Save All Changes</a>
          </div>
    </div>

    <div th:fragment="ftr">
        <div id="ftr">
            &copy; 2017 log4jCatalog
        </div>
        <div id="log4jtooltip"></div>
    </div>

</body>

</html>
