<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements.  See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to you under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~
  ~      http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->
<Configuration status="ERROR">
    <properties>
        <property name="LOG_DIR">${sys:catalina.home:-.}/logs/AuditCatalog</property>
    </properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{ABSOLUTE} %-5level # %class.%method %m%n" />
        </Console>

        <RollingFile name="log4j" fileName="${LOG_DIR}/log4j.txt" filePattern="${LOG_DIR}/archive/log4j.txt.%d{yyyyMMdd_HH}-%i">
            <PatternLayout pattern="%d [%t] %-5p %C{1.}.%M:%L - %m%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="30 MB"/>
            </Policies>
            <DefaultRolloverStrategy min="1" max="20"/>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Logger name="org.apache.logging.log4j.catalog" level="WARN" additivity="false">
            <AppenderRef ref="log4j"/>
        </Logger>
        <Root level="DEBUG">
            <AppenderRef ref="log4j" />
        </Root>
    </Loggers>
</Configuration>
