<?xml version="1.0" encoding="UTF-8"?>
<!--
 Licensed to the Apache Software Foundation (ASF) under one or more
 contributor license agreements. See the NOTICE file distributed with
 this work for additional information regarding copyright ownership.
 The ASF licenses this file to You under the Apache License, Version 2.0
 (the "License"); you may not use this file except in compliance with
 the License. You may obtain a copy of the License at

         http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-->
<document xmlns="http://maven.apache.org/XDOC/2.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/XDOC/2.0 http://maven.apache.org/xsd/xdoc-2.0.xsd">

  <properties>
    <title>Getting Started</title>
  </properties>

  <body>
    <section name="Getting Started with Log4j Audit">

      <p>This guide provides an overview of how to define events to be audited, generate the Java interfaces for those
        events and then use those interfaces to generate the audit events.</p>

      <a name="what_you_will_build"/>
      <subsection name="What you will build">

        <p>You will build a project that consist of two modules. One module generates a jar that contains the audit
        catalog along with the Java interfaces that were created from the catalog. The second module generates a war
        that provides the service endpoints to perform remote audit logging and manage dynamic catalogs. You will
        install and use the catalog editor. Finally, you will also build a project that uses the audit event
        interfaces and generates audit events.</p>
      </subsection>
      <a name="what_you_will_need"/>
      <subsection name="What you will need">
        <ul>
         <li>About 15 minutes</li>
         <li>A favorite text editor or IDE</li>
         <li>JDK 1.8 or later</li>
         <li>Apache Maven 3.0+</li>
         <li>Apache Tomcat 7.0+ (Any servlet 2.5+ compatible container will work)</li>
        </ul>
      </subsection>
      <a name="how_to_complete"/>
      <subsection name="How to complete this guide">

        <p>Create a directory for this guide:<br />
          <code><pre>
    mkdir log4j-audit-guide
    cd log4j-audit-guide</pre></code></p>

        <p><a href="https://github.com/apache/logging-log4j-audit-sample/archive/master.zip">Download</a> and unzip the
          sample source repository, or clone it using <a href="https://git-scm.com/downloads">Git</a>:<br />
          <code><pre>
    git clone https://github.com/apache/logging-log4j-audit-sample</pre></code></p>

        <p>Change to the root directory of the project and build it using Maven:<br />
        <code><pre>
    cd logging-log4j-audit-sample
    mvn clean install</pre></code></p>

        <p>Two artifacts will have been created and installed into your local Maven repository:
        <ol>
          <li>org.apache.logging.log4j:audit-service-api:1.0.0-SNAPSHOT:jar</li>
          <li>org.apache.logging.log4j:audit-service-war:1.0.0-SNAPSHOT:war</li>
        </ol></p>

        <p>The sample catalog can be found at audit-service-api/src/main/resources/catalog.json.</p>
      </subsection>
      <a name="BuildResults"/>
      <subsection name="Inspect the build results">

        <p>List the contents of audit-service-api/target/generated-sources/log4j-audit directory. The event interfaces
          generated from the catalog will be located in this directory.</p>
      </subsection>
      <a name="Run"/>
      <subsection name="Run an application that performs auditing">
        <ol>
          <li>Change to the sample-app diretory.
            <code><pre>
    cd sample-app</pre></code></li>
          <li>Run the sample app and view the logs
            <code><pre>
    ./sample-app.sh  
    vi target/logs/audit.log</pre></code></li>
        </ol>
      </subsection>
      <a name="DeployAuditService"/>
      <subsection name="Deploy the Audit Service WAR">
        <ol>
          <li>Download Apache Tomcat from the <a href="https://tomcat.apache.org/download-70.cgi">Tomcat website</a>.
            and install Apache Tomcat. The simplest way to install Tomcat consists of just unzipping the Tomcat
            distribution into the appropriate directory. For more complete instructions follow
            <a href="https://tomcat.apache.org/tomcat-7.0-doc/setup.html">the Tomcat setup page</a>.
            <code><pre>
    cd ..  
    unzip ~/Downloads/apache-tomcat-7.0.82.zip</pre></code></li>
          <li>Copy the war file generated by the pervious build into Tomcat's webapp directory:
            <code><pre>
    cp logging-log4j-audit-sample/audit-service-war/target/AuditService.war apache-tomcat-7.0.82/webapps</pre></code></li>
        </ol>
       </subsection>
       <a name="DeployAuditCatalog"/>
       <subsection name="Deploy the Audit Catalog WAR">
         <ol>
           <li><a href="http://www.apache.org/dist/logging/apache-log4j-audit-${Log4jAuditVersion}-bin.zip">Download</a>
            the Log4j audit binary zip.
             <code><pre>
    wget http://www.apache.org/dist/logging/log4j-audit/${Log4jAuditVersion}/apache-log4j-audit-${Log4jAuditVersion}-bin.zip</pre></code></li>
           <li>Unzip the contents.
             <code><pre>
    unzip apache-log4j-audit-${Log4jAuditVersion}-bin.zip</pre></code></li>
           <li>Copy the Log4j Catalog Editor war to the tomcat webapps directory.
             <code><pre>
    cp apache-log4j-audit-${Log4jAuditVersion}-bin/log4j-catalog-war-${Log4jAuditVersion}.war apache-tomcat-7.0.82/webapps/AuditCatalog.war</pre></code></li>
           <li>Use an editor to create a file named catalog-config.properties in Tomcat's classpath. You can create
             the file in the apache-tomcat-7.0.82/lib directory.</li>
           <li>Copy the following lines into the file. The value for remoteRepoUrl should the Git repo where your
             version of catalog.json should be stored. remoteRepoCatalogPath is the location within that Git repository
             where the catalog.json file resides. gitPassPhrase is the pass phrase needed to access the repository
             when SSH is used. gitUserName and gitPassPhrase are the credentials required to access the Git
             repository when using HTTP or HTTPS. If the credentials or pass phrase are not provided typically you
             will be able to view the catalog but not update it.
              <code><pre>
    remoteRepoUrl=https://git-wip-us.apache.org/repos/asf/logging-log4j-audit-sample.git  
    remoteRepoCatalogPath=audit-service-api/src/main/resources/catalog.json  
    gitUserName=  
    gitPassword=  
    gitPassPhrase=</pre></code></li>
           <li>Start Tomcat.
             <code><pre>
    cd apache-tomcat-7.0.82/bin
    ./startup.sh</pre></code></li>
         </ol>
       </subsection>
       <a name="CatalogEditor"/>
       <subsection name="Use the Catalog Editor">
         <ol>
           <li>Navigate to the edit attributes screen at http://localhost:8080/AuditCatalog/attributes. The screen
           should look like <br /><img src="images/attributes.png"/></li>
           <li>Navigate to the edit events screen at http://localhost:8080/AuditCatalog/events. The screen should
           look like <br /><img src="images/events.png"/></li>
         </ol>
      </subsection>
    </section>
  </body>
</document>